<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head th:replace="base::apphead"></head>
<body>

<div th:text="${Title}"></div>

    <div sec:authorize="hasAuthority('ADMIN')" th:replace="adminbase::anonymousnav">
    </div>

    <div sec:authorize="hasAnyAuthority('USER','DEMO')" th:replace="adminbase::anonymousnav">
    </div>

<th:block th:replace="base::jscripts"></th:block>
</body>
</html>